<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Galen Test Report</title>
        <link rel="stylesheet" href="galen-report.css"/>
        <script src="vue.js"></script>
        <script src="galen-report.js"></script>
        <script type="text/javascript">
var REPORT_DATA = {
  "testId" : "1-mobilerezervacija.gspec",
  "name" : "mobileRezervacija.gspec",
  "report" : {
    "nodes" : [ {
      "name" : "Simple check",
      "status" : "info",
      "nodes" : [ {
        "name" : "check  mobileRezervacija.gspec --url http://localhost/rezervacija.html --size 599x768 --htmlreport izvjestaji",
        "status" : "info",
        "nodes" : [ {
          "name" : "Check layout: mobileRezervacija.gspec included tags: ",
          "status" : "info",
          "time" : 1573662114698,
          "sections" : [ {
            "name" : "Header section",
            "place" : {
              "filePath" : "mobileRezervacija.gspec",
              "lineNumber" : 34
            },
            "objects" : [ {
              "name" : "glavni",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 36
                },
                "name" : "width < 600 px",
                "meta" : [ {
                  "from" : {
                    "object" : "glavni",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "glavni",
                    "edge" : "right"
                  },
                  "expectedDistance" : "< 600px",
                  "realDistance" : "205px"
                } ],
                "highlight" : [ "glavni" ]
              } ]
            }, {
              "name" : "meni",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 38
                },
                "name" : "width 95 to 100 % of glavni/width",
                "meta" : [ {
                  "from" : {
                    "object" : "meni",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "meni",
                    "edge" : "right"
                  },
                  "expectedDistance" : "95 to 100% [194 to 205px]",
                  "realDistance" : "100% [205px]"
                } ],
                "highlight" : [ "meni" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 39
                },
                "name" : "inside screen 50px top",
                "meta" : [ {
                  "from" : {
                    "object" : "meni",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "screen",
                    "edge" : "top"
                  },
                  "expectedDistance" : "50px",
                  "realDistance" : "50px"
                } ],
                "highlight" : [ "meni", "screen" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 40
                },
                "name" : "above sadrzaj 10px",
                "meta" : [ {
                  "from" : {
                    "object" : "meni",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "sadrzaj",
                    "edge" : "top"
                  },
                  "expectedDistance" : "10px",
                  "realDistance" : "10px"
                } ],
                "highlight" : [ "meni", "sadrzaj" ]
              } ]
            }, {
              "name" : "li",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 42
                },
                "name" : "css display is \"list-item\"",
                "highlight" : [ "li" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 53
                },
                "name" : "css list-style-type is \"none\"",
                "highlight" : [ "li" ]
              } ]
            }, {
              "name" : "list_item-2",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 44
                },
                "name" : "text contains \"Sale\"",
                "highlight" : [ "list_item-2" ]
              } ]
            }, {
              "name" : "list_item-3",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 46
                },
                "name" : "text contains \"Unos\"",
                "highlight" : [ "list_item-3" ]
              } ]
            }, {
              "name" : "list_item-4",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 48
                },
                "name" : "css text-decoration-line is \"none\"",
                "highlight" : [ "list_item-4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 49
                },
                "name" : "text contains \"Rezervacije\"",
                "highlight" : [ "list_item-4" ]
              } ]
            }, {
              "name" : "list_item-5",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 51
                },
                "name" : "text contains \"Osobe\"",
                "highlight" : [ "list_item-5" ]
              } ]
            }, {
              "name" : "logo",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 55
                },
                "name" : "width 70px",
                "meta" : [ {
                  "from" : {
                    "object" : "logo",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "logo",
                    "edge" : "right"
                  },
                  "expectedDistance" : "70px",
                  "realDistance" : "70px"
                } ],
                "highlight" : [ "logo" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 56
                },
                "name" : "height 70px",
                "meta" : [ {
                  "from" : {
                    "object" : "logo",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "logo",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : "70px",
                  "realDistance" : "70px"
                } ],
                "highlight" : [ "logo" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 57
                },
                "name" : "inside partly meni -35px top",
                "meta" : [ {
                  "from" : {
                    "object" : "logo",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "meni",
                    "edge" : "top"
                  },
                  "expectedDistance" : "-35px",
                  "realDistance" : "-35px"
                } ],
                "highlight" : [ "logo", "meni" ]
              } ]
            }, {
              "name" : "slika",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "inside partly logo",
                "meta" : [ ],
                "highlight" : [ "slika", "logo" ]
              } ]
            }, {
              "name" : "comments",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 61
                },
                "name" : "absent",
                "highlight" : [ ]
              } ]
            } ]
          }, {
            "name" : "Main section",
            "place" : {
              "filePath" : "mobileRezervacija.gspec",
              "lineNumber" : 62
            },
            "objects" : [ {
              "name" : "sadrzaj",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 64
                },
                "name" : "width 100% of glavni/width",
                "meta" : [ {
                  "from" : {
                    "object" : "sadrzaj",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "sadrzaj",
                    "edge" : "right"
                  },
                  "expectedDistance" : "100% [205px]",
                  "realDistance" : "100% [205px]"
                } ],
                "highlight" : [ "sadrzaj" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 65
                },
                "name" : "css background-color is \"rgb(100, 149, 237)\"",
                "highlight" : [ "sadrzaj" ]
              } ]
            }, {
              "name" : "podaci",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 67
                },
                "name" : "above kalendar",
                "meta" : [ {
                  "from" : {
                    "object" : "podaci",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "kalendar",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "20px"
                } ],
                "highlight" : [ "podaci", "kalendar" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 68
                },
                "name" : "css list-style-type is \"none\"",
                "highlight" : [ "podaci" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 69
                },
                "name" : "css display is \"list-item\"",
                "highlight" : [ "podaci" ]
              } ]
            }, {
              "name" : "lista",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 71
                },
                "name" : "above checkBox 10 to 20 px",
                "meta" : [ {
                  "from" : {
                    "object" : "lista",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "checkBox",
                    "edge" : "top"
                  },
                  "expectedDistance" : "10 to 20px",
                  "realDistance" : "10px"
                } ],
                "highlight" : [ "lista", "checkBox" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 72
                },
                "name" : "count any opcija-* is > 1",
                "highlight" : [ "opcija-4", "opcija-3", "opcija-5", "opcija-2", "opcija-1" ]
              } ]
            }, {
              "name" : "labeli",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 74
                },
                "name" : "css padding-left is \"10px\"",
                "highlight" : [ "labeli" ]
              } ]
            }, {
              "name" : "checkBox",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 76
                },
                "name" : "above pocetakInput",
                "meta" : [ {
                  "from" : {
                    "object" : "checkBox",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "pocetakInput",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "38px"
                } ],
                "highlight" : [ "checkBox", "pocetakInput" ]
              } ]
            }, {
              "name" : "pocetakInput",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 78
                },
                "name" : "width 100 to 150 px",
                "meta" : [ {
                  "from" : {
                    "object" : "pocetakInput",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "pocetakInput",
                    "edge" : "right"
                  },
                  "expectedDistance" : "100 to 150px",
                  "realDistance" : "132px"
                } ],
                "highlight" : [ "pocetakInput" ]
              } ]
            }, {
              "name" : "krajInput",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 78
                },
                "name" : "width 100 to 150 px",
                "meta" : [ {
                  "from" : {
                    "object" : "krajInput",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "krajInput",
                    "edge" : "right"
                  },
                  "expectedDistance" : "100 to 150px",
                  "realDistance" : "132px"
                } ],
                "highlight" : [ "krajInput" ]
              } ]
            }, {
              "name" : "kalendar",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 80
                },
                "name" : "below podaci 5 to 20px",
                "meta" : [ {
                  "from" : {
                    "object" : "kalendar",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "podaci",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : "5 to 20px",
                  "realDistance" : "20px"
                } ],
                "highlight" : [ "kalendar", "podaci" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 81
                },
                "name" : "css background-color is \"rgb(105, 163, 221)\"",
                "highlight" : [ "kalendar" ]
              } ]
            }, {
              "name" : "imeMjeseca",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 83
                },
                "name" : "inside kalendar 10 to 15 px top",
                "meta" : [ {
                  "from" : {
                    "object" : "imeMjeseca",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "kalendar",
                    "edge" : "top"
                  },
                  "expectedDistance" : "10 to 15px",
                  "realDistance" : "12px"
                } ],
                "highlight" : [ "imeMjeseca", "kalendar" ]
              } ]
            }, {
              "name" : "imeMjesecaText",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 85
                },
                "name" : "inside kalendar",
                "meta" : [ ],
                "highlight" : [ "imeMjesecaText", "kalendar" ]
              } ]
            }, {
              "name" : "daniUSedmiciDiv",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 87
                },
                "name" : "css display is \"grid\"",
                "highlight" : [ "daniUSedmiciDiv" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 88
                },
                "name" : "left-of kal",
                "meta" : [ {
                  "from" : {
                    "object" : "daniUSedmiciDiv",
                    "edge" : "right"
                  },
                  "to" : {
                    "object" : "kal",
                    "edge" : "left"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "0px"
                } ],
                "highlight" : [ "daniUSedmiciDiv", "kal" ]
              } ]
            }, {
              "name" : "box-1",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 90
                },
                "name" : "text contains \"PON\"",
                "highlight" : [ "box-1" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 91
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-1" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 111
                },
                "name" : "aligned vertically all box-2",
                "highlight" : [ "box-1", "box-2" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 112
                },
                "name" : "aligned vertically all box-3",
                "highlight" : [ "box-1", "box-3" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 113
                },
                "name" : "aligned vertically all box-4",
                "highlight" : [ "box-1", "box-4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 114
                },
                "name" : "aligned vertically all box-5",
                "highlight" : [ "box-1", "box-5" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 115
                },
                "name" : "aligned vertically all box-6",
                "highlight" : [ "box-1", "box-6" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 116
                },
                "name" : "aligned vertically all box-7",
                "highlight" : [ "box-1", "box-7" ]
              } ]
            }, {
              "name" : "box-2",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 93
                },
                "name" : "text contains \"UTO\"",
                "highlight" : [ "box-2" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 94
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-2" ]
              } ]
            }, {
              "name" : "box-3",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 96
                },
                "name" : "text contains \"SRI\"",
                "highlight" : [ "box-3" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 97
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-3" ]
              } ]
            }, {
              "name" : "box-4",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 99
                },
                "name" : "text contains \"CET\"",
                "highlight" : [ "box-4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 100
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-4" ]
              } ]
            }, {
              "name" : "box-5",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 102
                },
                "name" : "text contains \"PET\"",
                "highlight" : [ "box-5" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 103
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-5" ]
              } ]
            }, {
              "name" : "box-6",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 105
                },
                "name" : "text contains \"SUB\"",
                "highlight" : [ "box-6" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 106
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-6" ]
              } ]
            }, {
              "name" : "box-7",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 108
                },
                "name" : "text contains \"NED\"",
                "highlight" : [ "box-7" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 109
                },
                "name" : "css text-align is \"start\"",
                "highlight" : [ "box-7" ]
              } ]
            }, {
              "name" : "box",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 118
                },
                "name" : "width 40 to 60 px",
                "meta" : [ {
                  "from" : {
                    "object" : "box",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "box",
                    "edge" : "right"
                  },
                  "expectedDistance" : "40 to 60px",
                  "realDistance" : "54px"
                } ],
                "highlight" : [ "box" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 119
                },
                "name" : "inside daniUSedmiciDiv",
                "meta" : [ ],
                "highlight" : [ "box", "daniUSedmiciDiv" ]
              } ]
            }, {
              "name" : "kal",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 121
                },
                "name" : "inside kalendar",
                "meta" : [ ],
                "highlight" : [ "kal", "kalendar" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 122
                },
                "name" : "css display is \"grid\"",
                "highlight" : [ "kal" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 123
                },
                "name" : "count visible neskriveno_Polje-* is 7",
                "highlight" : [ "neskriveno_Polje-6", "neskriveno_Polje-7", "neskriveno_Polje-8", "neskriveno_Polje-9", "neskriveno_Polje-10", "neskriveno_Polje-4", "neskriveno_Polje-5" ]
              } ]
            }, {
              "name" : "skrivenoPolje",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 125
                },
                "name" : "absent",
                "highlight" : [ ]
              } ]
            }, {
              "name" : "rotirano",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 127
                },
                "name" : "absent",
                "highlight" : [ ]
              } ]
            }, {
              "name" : "zauzeta",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 129
                },
                "name" : "css background-color is \"rgb(255, 69, 0)\"",
                "highlight" : [ "zauzeta" ]
              } ]
            }, {
              "name" : "pretBtn",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 131
                },
                "name" : "inside sadrzaj",
                "meta" : [ ],
                "highlight" : [ "pretBtn", "sadrzaj" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 132
                },
                "name" : "below kal",
                "meta" : [ {
                  "from" : {
                    "object" : "pretBtn",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "kal",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "7px"
                } ],
                "highlight" : [ "pretBtn", "kal" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 133
                },
                "name" : "left-of sljedBtn",
                "meta" : [ {
                  "from" : {
                    "object" : "pretBtn",
                    "edge" : "right"
                  },
                  "to" : {
                    "object" : "sljedBtn",
                    "edge" : "left"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "45px"
                } ],
                "highlight" : [ "pretBtn", "sljedBtn" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 134
                },
                "name" : "width 70 px",
                "meta" : [ {
                  "from" : {
                    "object" : "pretBtn",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "pretBtn",
                    "edge" : "right"
                  },
                  "expectedDistance" : "70px",
                  "realDistance" : "70px"
                } ],
                "highlight" : [ "pretBtn" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 135
                },
                "name" : "height 40 px",
                "meta" : [ {
                  "from" : {
                    "object" : "pretBtn",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "pretBtn",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : "40px",
                  "realDistance" : "40px"
                } ],
                "highlight" : [ "pretBtn" ]
              } ]
            }, {
              "name" : "sljedBtn",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 137
                },
                "name" : "inside sadrzaj",
                "meta" : [ ],
                "highlight" : [ "sljedBtn", "sadrzaj" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 138
                },
                "name" : "below kal",
                "meta" : [ {
                  "from" : {
                    "object" : "sljedBtn",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "kal",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "7px"
                } ],
                "highlight" : [ "sljedBtn", "kal" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 139
                },
                "name" : "width 70 px",
                "meta" : [ {
                  "from" : {
                    "object" : "sljedBtn",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "sljedBtn",
                    "edge" : "right"
                  },
                  "expectedDistance" : "70px",
                  "realDistance" : "70px"
                } ],
                "highlight" : [ "sljedBtn" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 140
                },
                "name" : "height 40 px",
                "meta" : [ {
                  "from" : {
                    "object" : "sljedBtn",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "sljedBtn",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : "40px",
                  "realDistance" : "40px"
                } ],
                "highlight" : [ "sljedBtn" ]
              } ]
            }, {
              "name" : "dugmadi",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 142
                },
                "name" : "below kal",
                "meta" : [ {
                  "from" : {
                    "object" : "dugmadi",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "kal",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "12px"
                } ],
                "highlight" : [ "dugmadi", "kal" ]
              } ]
            } ]
          } ],
          "objects" : {
            "slika" : {
              "area" : [ 250, 15, 70, 70 ]
            },
            "screen" : {
              "area" : [ 0, 0, 570, 1040 ]
            },
            "box" : {
              "area" : [ 203, 589, 54, 22 ]
            },
            "podaci" : {
              "area" : [ 187, 335, 190, 163 ]
            },
            "sljedBtn" : {
              "area" : [ 307, 974, 70, 40 ]
            },
            "neskriveno_Polje-6" : {
              "area" : [ 291, 700, 54, 39 ]
            },
            "imeMjesecaText" : {
              "area" : [ 199, 531, 133, 30 ]
            },
            "neskriveno_Polje-7" : {
              "area" : [ 291, 755, 54, 39 ]
            },
            "neskriveno_Polje-8" : {
              "area" : [ 291, 810, 54, 39 ]
            },
            "neskriveno_Polje-9" : {
              "area" : [ 291, 865, 54, 39 ]
            },
            "kal" : {
              "area" : [ 265, 582, 105, 385 ]
            },
            "logo" : {
              "area" : [ 250, 15, 70, 70 ]
            },
            "kalendar" : {
              "area" : [ 197, 518, 175, 451 ]
            },
            "neskriveno_Polje-4" : {
              "area" : [ 291, 590, 54, 39 ]
            },
            "neskriveno_Polje-5" : {
              "area" : [ 291, 645, 54, 39 ]
            },
            "meni" : {
              "area" : [ 182, 50, 205, 270 ]
            },
            "lista" : {
              "area" : [ 243, 335, 43, 18 ]
            },
            "opcija-4" : {
              "area" : [ 245, 384, 43, 16 ]
            },
            "opcija-3" : {
              "area" : [ 245, 368, 43, 16 ]
            },
            "opcija-5" : {
              "area" : [ 245, 400, 43, 16 ]
            },
            "labeli" : {
              "area" : [ 187, 325, 56, 37 ]
            },
            "opcija-2" : {
              "area" : [ 245, 352, 43, 16 ]
            },
            "opcija-1" : {
              "area" : [ 245, 336, 43, 16 ]
            },
            "imeMjeseca" : {
              "area" : [ 199, 530, 171, 32 ]
            },
            "box-3" : {
              "area" : [ 203, 703, 54, 22 ]
            },
            "list_item-2" : {
              "area" : [ 207, 168, 27, 17 ]
            },
            "box-2" : {
              "area" : [ 203, 646, 54, 22 ]
            },
            "list_item-3" : {
              "area" : [ 207, 206, 33, 17 ]
            },
            "box-5" : {
              "area" : [ 203, 818, 54, 22 ]
            },
            "list_item-4" : {
              "area" : [ 207, 244, 75, 17 ]
            },
            "box-4" : {
              "area" : [ 203, 761, 54, 22 ]
            },
            "list_item-5" : {
              "area" : [ 207, 282, 40, 17 ]
            },
            "krajInput" : {
              "area" : [ 197, 470, 132, 18 ]
            },
            "box-7" : {
              "area" : [ 203, 932, 54, 22 ]
            },
            "pretBtn" : {
              "area" : [ 192, 974, 70, 40 ]
            },
            "box-6" : {
              "area" : [ 203, 875, 54, 22 ]
            },
            "sadrzaj" : {
              "area" : [ 182, 330, 205, 704 ]
            },
            "daniUSedmiciDiv" : {
              "area" : [ 199, 589, 66, 377 ]
            },
            "zauzeta" : {
              "area" : [ 293, 665, 50, 17 ]
            },
            "pocetakInput" : {
              "area" : [ 197, 414, 132, 18 ]
            },
            "box-1" : {
              "area" : [ 203, 589, 54, 22 ]
            },
            "glavni" : {
              "area" : [ 182, 0, 205, 1034 ]
            },
            "checkBox" : {
              "area" : [ 289, 363, 13, 13 ]
            },
            "neskriveno_Polje-10" : {
              "area" : [ 291, 920, 54, 39 ]
            },
            "dugmadi" : {
              "area" : [ 187, 979, 195, 50 ]
            },
            "li" : {
              "area" : [ 197, 120, 190, 38 ]
            }
          },
          "screenshot" : "layout-1-screenshot.png",
          "type" : "layout"
        } ],
        "time" : 1573662110733,
        "type" : "node"
      } ],
      "time" : 1573662107870,
      "type" : "node"
    } ]
  }
};
        </script>
    </head>
    <body>
        <div id="app">
            <div class="top-menu">
                <a class="link" href="report.html">Back to Test Overview</a>
                <span class="link" v-on:click="expandAll()">Expand All</span>
                <span class="link" v-on:click="collapseAll()">Collapse All</span>
                <span class="link" v-on:click="expandOnlyErrors()">Expand Errors</span>
            </div>
            <div v-for="node in reportData.report.nodes">
                <report-node v-if="node.type === 'node'" v-bind:node="node"></report-node>
                <div class="node-text" v-if="node.type === 'text'">
                    {{node.name}}
                </div>
                <layout-report v-if="node.type === 'layout'" v-bind:layout="node"></layout-report>
                <mutation-report v-if="node.type === 'mutation'" v-bind:report="node"></mutation-report>
            </div>
        </div>

        <template id="tpl-report-node">
            <div class="report-node">
                <div class="node-line" v-bind:class="['status-' + node.status]">
                    <span class="node-time">{{node.time | formatTime}}</span>
                    <span class="node-label"
                        v-on:click="toggleReportNode(node)"
                        v-bind:class="['status-' + node.status, node.expanded ? 'expanded': 'collapsed', 'contains-children-' + node.hasChildren]"
                        >{{node.status}}</span>
                    <span class="node-title">{{node.name}}</span>
                    <span class="node-extras-link"
                        v-if="node.extras"
                        v-on:click="showNodeExtrasPopup(node.extras)"
                        >extras</span>
                </div>
                <ul class="node-attachments" v-if="node.attachments && node.attachments.length > 0">
                    <li v-for="attachment in node.attachments">
                        <a class="icon-sprite-before node-attachment" v-bind:href="attachment">{{attachment}}</a>
                    </li>
                </ul>
                <div class="child-nodes" v-if="node.type === 'node'" v-bind:class="{'child-nodes-expanded': node.expanded}">
                    <div class="stacktrace" v-if="node.stacktrace">{{node.stacktrace}}</div>
                    <div v-for="childNode in node.nodes">
                        <report-node v-if="childNode.type === 'node'" v-bind:node="childNode"></report-node>
                        <div class="node-text" v-if="childNode.type === 'text'">
                            {{childNode.name}}
                        </div>
                        <layout-report v-if="childNode.type === 'layout'" v-bind:layout="childNode" v-bind:isSubLayout="false"></layout-report>
                        <mutation-report v-if="childNode.type === 'mutation'" v-bind:report="childNode"></mutation-report>
                    </div>
                </div>
                <div class="extras-popup popup-wrapper" v-if="extrasPopup.show">
                    <div class="popup-shadow" v-on:click="extrasPopup.show = false"> </div>
                    <div class="popup-container" style="top: 30px;">
                        <div class="popup-body">
                            <table class="extras-table">
                                <tbody>
                                    <tr v-for="extrasItem in extrasPopup.extras">
                                        <td>{{extrasItem.name}}</td>
                                        <td>
                                            <div v-if="extrasItem.value.type === 'link'">
                                                <a class="link" v-bind:href="extrasItem.value.value">{{extrasItem.value.value}}</a>
                                            </div>
                                            <div v-else v-if="extrasItem.value.type === 'file'">
                                                <a class="link" v-bind:href="extrasItem.value.value">{{extrasItem.value.value}}</a>
                                            </div>
                                            <div v-else v-if="extrasItem.value.type === 'text'">
                                                {{extrasItem.value.value}}
                                            </div>
                                            <div v-else v-if="extrasItem.value.type === 'image'">
                                                <a v-bind:href="extrasItem.value.value"><img v-bind:src="extrasItem.value.value"/></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template id="tpl-mutation-report">
            <div class="mutation-report">
                <div class="node-line" v-bind:class="['status-' + report.status]">
                    <span class="node-time">{{report.time | formatTime }}</span>
                    <span class="node-label"
                        v-on:click="toggleReportNode(report)"
                        v-bind:class="['status-' + report.status, report.expanded ? 'expanded': 'collapsed', 'contains-children-true']"
                        >MUTATION</span>
                    <span class="node-title">{{report.name}}</span>
                </div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': report.expanded}">
                    <table class="mutation-table">
                        <thead>
                            <tr>
                                <th v-for="column in tableColumns" v-bind:class="{'sorted-column': sorting.columnField === column.field}">
                                    <span class="link" v-on:click="sortTable(column)">{{column.name}}</span>
                                    <span class="sorting-icon"
                                        v-if="sorting.columnField === column.field"
                                        v-bind:class="[sorting.order === 1 ? 'sorting-down' : 'sorting-up']"></span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mutation-table-total">
                                <td> <b>Total</b> </td>
                                <td class="cell-passed">{{report.mutationReport.totalPassed}}</td>
                                <td class="cell-failed">{{report.mutationReport.totalFailed}}</td>
                                <td class="cell-failed">{{report.mutationReport.failedRatio | roundFailedRatio}}%</td>
                                <td></td>
                            </tr>
                            <tr v-for="mutation in mutations">
                                <td><span class="link" v-on:click="toggleMutationFor(mutation.name)">{{mutation.name}}</span></td>
                                <td class="cell-passed">{{mutation.passed}}</td>
                                <td class="cell-failed">{{mutation.failed}}</td>
                                <td class="cell-failed">{{mutation.failedRatio}}%</td>
                                <td>
                                    <div v-if="showFailedMutationsFor === mutation.name">
                                        All failed mutations:
                                        <ul>
                                            <li v-for="mutationText in mutation.failedMutations">{{mutationText}}</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>

        <template id="tpl-layout-report">
            <div class="layout-report">
                <div class="node-line" v-bind:class="['status-' + layout.status]">
                    <span class="node-time">{{layout.time | formatTime}}</span>
                    <span class="node-label"
                        v-on:click="toggleReportNode(layout)"
                        v-bind:class="['status-' + layout.status, layout.expanded ? 'expanded': 'collapsed', 'contains-children-' + layout.hasChildren]"
                        >LAYOUT</span>
                    <span class="node-title">{{layout.name}}</span>
                </div>
                <div class="node-horizontal-menu">
                    <span class="link" v-on:click="showFailureMap()">Failure Map</span> |
                    <span class="link" v-on:click="showHeatMap()">Heat Map</span>
                </div>

                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': layout.expanded}">
                    <layout-section v-for="section in layout.sections" v-bind:section="section" v-bind:bus="bus" v-bind:layout="layout" @spec-clicked="specClicked"></layout-section>
                </div>

                <screenshot-popup v-if="screenshotPopup.shown"
                    v-bind:screenshot="screenshotPopup.screenshotFile"
                    v-bind:highlight="screenshotPopup.highlightAreas"
                    v-bind:guides="screenshotPopup.metaGuides"
                    v-bind:spec="screenshotPopup.spec"
                    @close="screenshotPopup.shown = false"
                    ></screenshot-popup>
            </div>
        </template>

        <template id="tpl-layout-section">
            <div class="layout-section" v-bind:class="{'has-failure': section.hasFailure}">
                <div class="title icon-sprite-before"
                    v-on:click="toggleReportNode(section)"
                    v-bind:title="section.place ? section.place.filePath + ':' + section.place.lineNumber : ''"
                    >{{section.name}}</div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': section.expanded}">
                    <layout-section v-for="subSection in section.sections" v-bind:section="subSection" v-bind:bus="bus" v-bind:layout="layout"></layout-section>
                    <object-node v-for="object in section.objects" v-bind:object="object" v-bind:bus="bus" v-bind:layout="layout"></object-node>
                </div>
            </div>
        </template>

        <template id="tpl-object-node">
            <div class="layout-object" v-bind:class="{'has-failure': object.hasFailure}">
                <div class="title icon-sprite-before"
                    v-on:click="toggleReportNode(object)"
                    >{{object.name}}:</div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': object.expanded}">
                    <layout-spec v-for="spec in object.specs" v-bind:spec="spec" v-bind:bus="bus" v-bind:layout="layout"></layout-spec>

                    <layout-spec-group v-if="object.specGroups"
                        v-for="specGroup in object.specGroups"
                        v-bind:specgroup="specGroup"
                        v-bind:bus="bus"
                        v-bind:layout="layout"
                        ></layout-spec-group>
                </div>
            </div>
        </template>

        <template id="tpl-spec-group">
            <div class="layout-section" v-bind:class="{'has-failure': specgroup.hasFailure}">
                <div class="title icon-sprite-before"
                    v-on:click="toggleReportNode(specgroup)"
                    >{{specgroup.name}}:</div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': specgroup.expanded}">
                    <layout-spec v-for="spec in specgroup.specs" v-bind:spec="spec" v-bind:bus="bus" v-bind:layout="layout"></layout-spec>
                </div>
            </div>
        </template>

        <template id="tpl-layout-spec">
            <div class="layout-spec" v-bind:class="[isFailed ? 'has-failure': '', 'status-' + spec.status]">
                <div class="title icon-sprite-before"
                    v-on:click="showSpec"
                    v-bind:title="spec.place ? spec.place.filePath + ':' + spec.place.lineNumber : ''"
                    >{{spec.name}}</div>
                <ul class="error-messages" v-if="isFailed">
                    <li class="error-message" v-if="spec.imageComparison">
                        <span class="link" v-on:click="imageComparisonShown = true">Show image comparison</span>
                    </li>
                    <li class="error-message" v-for="error in spec.errors">{{error}}</li>
                </ul>
                <div v-if="spec.subLayout" class="sublayout">
                    <layout-section v-if="spec.subLayout.sections" v-for="section in spec.subLayout.sections" v-bind:section="section" v-bind:bus="bus" v-bind:layout="spec.subLayout"></layout-section>
                </div>
                <image-comparison-popup v-if="imageComparisonShown" v-on:close="imageComparisonShown = false" v-bind:imagedata="spec.imageComparison"/>
            </div>
        </template>


        <template id="tpl-image-comparison-popup">
            <div class="image-comparison-popup">
                <div class="popup-shadow" v-on:click="$emit('close')"> </div>
                <div class="popup-container" v-bind:style="{top: position.top + 'px', left: position.left + 'px', width: position.width + 'px', height: position.height + 'px'}">
                    <div class="popup-body">
                        <div class="image-layout">
                            <h5>Actual Image</h5>
                            <img v-bind:src="imagedata.actualImage"/>
                        </div>
                        <div class="image-layout">
                            <h5>Expected Image</h5>
                            <img v-bind:src="imagedata.expectedImage"/>
                        </div>
                        <div class="image-layout">
                            <h5>Comparison Map</h5>
                            <img v-bind:src="imagedata.comparisonMapImage"/>
                        </div>
                    </div>
                </div>
            </div>
        </template>


        <template id="tpl-screenshot-popup">
            <div>
                <div class="popup-shadow" v-on:click="$emit('close')"> </div>
                <div class="popup-container" v-bind:style="{top: position.top + 'px', left: position.left + 'px', width: position.width + 'px', height: position.height + 'px'}">
                    <div class="popup-body">
                        <div class="image-cropper" v-bind:style="{width: crop.width + 'px', height: crop.height + 'px'}">
                            <img v-bind:src="screenshot" v-bind:style="{'margin-left': crop.offsetLeft +'px', 'margin-top': crop.offsetTop + 'px'}"/>
                        </div>
                        <svg v-bind:width="crop.width + 'px'" v-bind:height="crop.height + 'px'">
                            <g v-for="object in highlight.objects">
                                <rect
                                    v-bind:x="object.area.x + crop.offsetLeft"
                                    v-bind:y="object.area.y + crop.offsetTop"
                                    v-bind:width="object.area.width"
                                    v-bind:height="object.area.height"
                                    style="opacity: 0.8"
                                    v-bind:style="{fill: object.fill?object.color:'none', 'stroke-width': object.border?3:0, stroke: object.border?object.color:'none'}"/>
                                <g v-if="object.caption">
                                    <rect
                                        v-bind:x="object.area.x + crop.offsetLeft"
                                        v-bind:y="object.area.y + crop.offsetTop - 20"
                                        v-bind:width="object.name.length * 15 + 10"
                                        v-bind:height="20"
                                        style="opacity: 0.8; stroke-width: 0; stroke: none;"
                                        v-bind:style="{fill: object.color}"/>
                                    <text
                                        v-bind:x="object.area.x + crop.offsetLeft + 5"
                                        v-bind:y="object.area.y + crop.offsetTop - 5"
                                        fill="#ffffff"
                                        font-weight="bold"
                                        font-family="helvetica"
                                        font-size="15px"
                                        >{{object.name}}</text>
                                </g>
                            </g>

                            <g v-for="guideElements in guides">
                                <g v-for="guide in guideElements">
                                    <line class="meta-line-guide" v-if="guide.type === 'line'"
                                        v-bind:x1="guide.x1 + crop.offsetLeft"
                                        v-bind:y1="guide.y1 + crop.offsetTop"
                                        v-bind:x2="guide.x2 + crop.offsetLeft"
                                        v-bind:y2="guide.y2 + crop.offsetTop"/>

                                    <g v-if="guide.type === 'text'">
                                        <text class="meta-text"
                                            v-bind:x="guide.x + crop.offsetLeft"
                                            v-bind:y="guide.y + crop.offsetTop"
                                            v-bind:transform="guide.vertical ? 'rotate(-90,' + (guide.x + crop.offsetLeft) + ', ' + (guide.y + crop.offsetTop) +')': 'rotate(0)'"
                                            >{{guide.text}}</text>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div class="popup-side-panel">
                            <div v-if="spec">
                                <span class="spec-name">{{spec.name}}</span>
                                <ul v-if="spec.errors" class="spec-errors">
                                    <li v-for="error in spec.errors">{{error}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <script>renderTestReport(REPORT_DATA);</script>
    </body>
</html>
